.App {
  text-align: center;

 
}
html{
  background-color: #282c34;
}

hr{
  margin-right:5%;
}

.FAQ{
  margin-left:5%;
  color: white;
  text-align: justify;
  text-justify: inter-word; 
}

body{
  margin-left:5%;
  color: white;
  text-align: justify;
  text-justify: inter-word;
}

.NavLink {
  color: blue;
  margin-left:25px;
}

.App-logo {
  height: 7vmin;

}





.App-header {
  background-color: #282c34;
  
  display: flex;

  align-items: left;
  justify-content: left;

  color: white;
}

.App-footer {
  background-color: #282c34;





  margin-top:auto;
  color: white;
  /* position: absolute;
  bottom: 0%; */
  right:45%;


}



